html {
    /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/fishing.jpg); */
    background-color: rgb(36, 16, 61);
    background-size:cover;
    background-position:center;
    height: 100%;
    color: #ffffff;
}

.Wrapper {
    width: 100%;
}

.Nav-logo {
    display: inline-block;
}

.Nav h2 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    margin: 2rem 0 0 3rem;
    font-size: 2rem;
    border: 3px solid #fff;
    display: inline-block;
    padding: 3px 8px;
    
}

.Nav-right {
    float: right;
    letter-spacing: 25px;
    margin: 1.5rem 3rem 0 0;
}

.Nav-right ul li {
    list-style: none;
    display: inline;
    font-size: 1.8rem;
}

.Nav-right a {
    color: white;
}

.Mute {
    cursor: pointer;
}

/* Grow */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    /* color: #ccc; */
}

.Title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 8rem;
    margin: 0;
    text-transform: uppercase;
}

.Title p {
    margin: 0;
    font-size: 1.3rem;
    font-family: 'open sans', sans-serif;
    width: 40%;
    color: #dbdbdb;
}

.Title span {
    margin-left: 15px;
    font-style: italic;
    font-size: 1.2rem;
}

.Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}